$color1: #ffffff;
$color2: #ededed;
$color3: #da0037;
$color4: #444444;
$color5: #171717;

.favouritesWrapper {
  h1 {
    text-align: center;
    background-image: url("../../public/assets/background2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10%;
    color: $color1;
    font-size: 2.5rem;
  }
  .favWrapper {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin: 1.1% auto;

    .favContainer {
      display: flex;
      margin: 1%;
      flex-flow: column wrap;
      flex-direction: column;
      position: relative;
      img {
        max-height: 300px;
        opacity: 1;
        transition: 0.5s ease;
        backface-visibility: hidden;
        background-color: white;
      }
      .overlay {
        transition: 0.5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
        p {
          font-size: 1rem;
          color: $color1;
          font-weight: bolder;
        }
        button {
          background: none;
          outline: none;
          border: none;
        }
        .icon {
          font-size: 3rem;
          color: $color3;
          cursor: pointer;
          transition: all 0.3s ease;
          &:hover {
            color: $color5;
            transform: scale(1.2);
          }
        }
      }
      &:hover {
        img {
          opacity: 0.7;
        }
        .overlay {
          opacity: 1;
        }
      }
    }

    .add-fav-text {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50vh;
    }
  }
}
