$color1: #ffffff;
$color2: #ededed;
$color3: #da0037;
$color4: #444444;
$color5: #171717;

.navbarWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  .navbarBrand {
    img {
      width: 12%;
    }
  }
  a {
    text-decoration: none;
  }
  .navLinkWrapper {
    list-style: none;
    width: 20%;
    .signIn {
      text-align: center;
      a {
        padding-right: 2%;
      }
    }
    .navLinks {
      display: flex;
      align-items: center;
      justify-content: space-between;
      li {
        width: 100%;
        a {
          color: $color5;
        }
        .activeLink {
          padding-bottom: 5%;
          border-bottom: 3px solid $color3;
        }
      }
    }
  }
  .navLinkWrapperMobile {
    display: none;
  }
  @media (max-width: 1400px) {
    .navLinkWrapperWeb {
      display: none;
    }
    .navLinkWrapperMobile {
      display: block;
    }
  }
}
